#div1
{
    background-color: cornflowerblue;
    color: red;
    padding: 10px 15px 20px 10px;
    width: 100px;
    border-left: 10px solid rgb(191, 19, 19);
    border-top: 10px solid rgb(191, 19, 19);
    border-style:groove ;
    border-bottom: dashed green;
    margin: 30px; 
    
}
.i1
{
    background-color: aquamarine;
    margin-top: 20px;
}
